
@import 'reset.css';
@import 'base.css';
@import 'modules.css';
@import 'theme.css';

*{
    box-sizing: border-box;
}
.container{
    margin: auto;
    text-align: center;
}
/*flex container*/
.main-container{
    display: flex;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}
section{
flex-grow: 1;
overflow: hidden;
/* height: 600px; */
text-align: center;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
